

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: Arial, Poppins,Segoe Print;
}


h1 {
  
  font-size: 32px
}
h2 {
  
  font-size: 24px
}
h3 {
  
  font-size: 18.72px
}
h4 {
  
  font-size: 16px
}
h5 {
  
  font-size: 13.28px
}
h6 {
  
  font-size: 12px
}

p {
  font-size: 10px;
  
}

.h-full {
  height: 100vh;
}

.home_title{
  font-family: Segoe Print;
font-size: 36px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0px;
text-align: left;
}
.golden_home_title{
  color: #FFD557;
}
.start_campaign_btn{
  font-family: Arial;
  color:#FF56A2;
  border: 1px solid #FF56A2;
}
.reel_creator_card{
  position: absolute;
  bottom:-15% !important;
  left:3%;
}
.creator_top{
  border: 1px solid #FF56A2;
}
.container {
max-width: 1600px !important;
margin: 0 auto;
}

.whalf {
  width: 55%;
}

.whalf-r {
  width: 45%;
}
.height-70{
  height: 76vh;
}
.height-15{
  height: 12vh;
}

@media (max-width: 991px) {
  .whalf-r  {
    width: 100%;
  }
  .whalf{
    width: 100%;
    position: absolute;
    background-color: rgb(0 0 0 / 28%);
    height: 100%;
    z-index: 999;
  }
  logo-slider img {
   
    height: 30vh !important;
  }
  
}

/*  first page auto */
logo-slider {
  padding: 15px;
  overflow: hidden;
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

logo-slider:hover div {
  animation-play-state: paused;
}

logo-slider div {
  display: flex;
  position: relative;
  animation: marquee 20s linear infinite;
  justify-content: space-around;
  flex-direction: column;
}

logo-slider img {
  display: block;
  min-height: var(--image-size);
  margin: 1vh 0;
  border-radius: 20px;
  height: 50vh;
}

.edit_button_clr{
  background-color:#9357FF;
  color: #fff;
} 
.button_clr{
  background-color:#CBD2E0;
  color: #9357FF;
}
.button_clr:hover{
  background-color: #9357FF;
  color: #fff;
}



@media (max-width: 900px) {
  logo-slider {
    --image-size: 50px;
    --image-size: min(max(50px, 10vw), 100px);
  }
}

@keyframes marquee {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
  }
}

.craetor_height{
  height: 100%;
  width: 100%;
  /* border: 1px solid green; */
  overflow: hidden;
  position: relative;
  max-height: 60vh;
}
.child_creator {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: -15px;
  /* border: 1px solid blue; */
  overflow: auto;
}
.home_dropdown_menu{
  background-color: #fff;
  top:30%;
  left: 1%;
}
.dropdown_text{
  font-size: 15px;
}
.divider_line{
  border: 5px solid linear-gradient(90deg, #131313 0%, rgba(19, 19, 19, 0.24) 53.4%, rgba(19, 19, 19, 0) 101.42%);

}

.campaign_info_title{
  font-family: Futura-Normal;
}
.container_capmapign_info{
  font-family: Futura;
}
.image_capign_info{
  height: 100% !important;
}